{{define "form/sub"}}
<!-- base -->
<a-form layout="inline">
    <a-form-item label="名称">
        <a-input v-model.trim="sub.name"></a-input>
    </a-form-item>
    <a-form-item label='类型'>
        <a-select v-model="sub.type" style="width: 160px;">
            <a-select-option v-for="p in SubType" :key="p" :value="p">[[ p ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item label="地址">
        <a-textarea v-model.trim="sub.url" style="width: 450px"  :auto-size="{ minRows: 4, maxRows: 16 }"></a-textarea>
    </a-form-item>
</a-form>

{{end}}